html,body,ul,p{
    margin:0;
    padding:0;
}
html,body{
    /* width:500px; */
    
}
ul,li{
    list-style:none;
}
a{
    text-decoration: none;
}
body>div{
    width:518px;
    margin:0 auto;
    padding:10px 8px;
    background-color: darkseagreen;
    position: relative;
}
/* head  begin */
.headNav{
    width:96%;
    position: absolute;
    box-sizing: border-box;
}
.head img{
    width:100px;
    vertical-align: middle;
}
.head input{
    width:250px;
    height:28px;
    border:none;
    background: #ececec;
    border-radius: 12px;
    margin-right: 20px;
    padding-left: 6px;
}
.head button{
    width:120px;
    height:36px;
    background-color: palevioletred;
    border:none;
    border-radius: 4px;
    color:white;
    cursor: pointer;
}

/* head end */
/* nav begin */
.nav{
    margin-top: 16px;
    width:100%;
    background-color: saddlebrown;
    overflow: hidden;
}
.nav.active{
    height:34px;
}
.nav ul{
    width:90%;
    
    padding-left: 14px;
    float:left;
}
.nav li{
    width:86px;
    height:34px;
    line-height: 34px;
    display: inline-block;
}
.nav a{
    width: 100%;
    display: inline-block;
    color: #ececec;
}
.nav>div{
    font-size: 22px;
    float: left;
    cursor: pointer;
}
/* nav end */
/* banner begin */
.banner{
    margin-top: 117px;
    margin-bottom: 20px;
    overflow: hidden;
}
.banner>div{
    height:140px;
    width:480px;
    margin:0 auto;
    overflow: hidden;
}
.banner ul{
    
    width:1500px;
    
}
.banner li{
    display: inline-block;
}


/* banner end */
/* content begin */
.content li{
    width:48%;
    height:200px;
    display: inline-block;
    margin-top: 20px;
}
.content li img{
    width:100%;
}
.content li:nth-of-type(odd){
    margin-right: 16px;
}
.content p{
    height:46px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 15px;
    line-height: 24px;
}
/* content end */

