
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    color: #999999;
    text-decoration: none;
}



html,body,.box{
    width:100%;
    height:100%;
}
.box{
    overflow-y: scroll;
}

/* head  begin */
.head{
    position: fixed;
    display: flex;
    right:0;
    left:0;
    top:0;
    align-items: center;
    padding:10px;
    justify-content:space-between;
    z-index:3;
    background-color: white;;
}
.head .headSearch input{
    width:144px;
    height:24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border:none;
    padding-left: 12px;
    border-radius: 12px;
    background-color: #ececec;
}
.head .headSearch input::-webkit-input-placeholder{
    color:#cccc;
}
.head .headUse svg{
    border-radius: 50%;
}
.head .headDown{
    width:60px;
    height:14px;
    padding:4px 6px;
    background-color: #fb7299;
    font-size: 13px;
    border-radius: 6px;
    color:white;
   
}



/* nav begin */
.nav{
    position: fixed;
    left:0;
    right:0;
    top:46px;
   
    background-color: white;
}
.nav>ul{
    
    display: inline-block;
    white-space: nowrap;
    width:90%;
    overflow-x: scroll;
    background-color: white;

}
.nav>ul::-webkit-scrollbar{
    display:none;
}
.nav>ul li{
    display: inline-block;
    height:30px;
    width:34px;
    line-height: 40px;
    margin:0 16px;
    padding:0 5px;
  
}
.nav>ul .big{
    width:50px;
    margin:0 8px;
}
.nav>ul li a{
    font-size: 16px;
}
.nav-oneBox{
    z-index:1;
}
.nav-oneBox .down{
    width:40px;
    height:28px;
    position: absolute;
    top:4px;
    right:0px;
    text-align: center;

}
.nav>div svg{
    width:18px;
    
}
.nav .active{
   
    border-bottom: 2px solid #fb7299;
}
.nav .active a{
    color:#fb7299;
}

.nav-tuBox{
    
    position: fixed;
    left:0;
    right:0;
    top:48px;
    background-color: white;
    transition: top 0.5s;
    z-index: 2;
}
.nav-hide{
    top:-170px;
}
.nav-tuBox ul{
    width:100%;
    white-space: normal;
    padding-bottom: 26px;
}
.nav.nav-tuBox .up{
    position: absolute;
    left:50%;
    bottom: 4px;
    text-align: center;
}

/* banner begin */
.banner{
    position: relative;
    top: 90px;
    left:50%;
    transform: translateX(-50%);
    height:107px;
    width:350px;
    border-radius: 8px;
    overflow: hidden;
}


.banner ul{
    width: 1500px;
    position: absolute;
    left:0;
    /* transition: left .5s; */
    
}
.banner ul li{
    width:350px;
    height:107px;
    display: inline-block;
}
.banner ul li img{
    width:100%;
    height:100%;
}
.banner ol{
    height:10px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:8px;
    display: flex;
    align-items: center;
    /* bottom: 8px; */
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
}
.banner ol li{
    width:6px;
    height:6px;
    /* display: inline-block; */
    margin-right: 4px;
    margin-left: 4px;
    background-color: white;
    border-radius: 50%;
}
.banner ol .active{
    background-color: #fb7299;
}


/* banner end */
/* content begin */
.content{
    margin:112px 6px 10px;
}
.content ul{
    display: flex;
    flex-wrap: wrap;
}
.content li{
    width:50%;
    height:200px;
    /* margin-top: 20px; */
    padding:0 4px;
    box-sizing: border-box;
    
}
.content li img{
    width:100%;
    height:120px;
    border-radius: 10px;
}
.content .contentImg{
    position: relative;
}
.content li .contentImg>div{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    position: absolute;
    left:0;
    right:0;
    bottom: 2px;
    padding:6px 6px;
    font-size: 12px;
    color:white;
    background-image:linear-gradient( rgba(33,33,33,0), rgba(33,33,33,.5));
}
.content li .contentImg>div div{
    /* display: inline-flex; */
    margin-right: 10px;
}
.content svg{
    width:20px;
    fill: #ffffff;
}
.content p{
    height:46px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 15px;
    line-height: 24px;
}
/* content end */

.footer{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}
.footer p{
    line-height: 40px;
    font-size: 14px;
    color:#cccc
}













