
  @font-face {
    font-family: 'iconfont'; 
     /* project id 1964943 */
    src: url('./icon/iconfont.eot');
    src: url('./icon/iconfont.eot?#iefix') format('embedded-opentype'),
    url('./icon/iconfont.woff2') format('woff2'),
    url('./icon/iconfont.woff') format('woff'),
    url('./icon/iconfont.ttf') format('truetype'),
    url('./icon/iconfont.svg#iconfont') format('svg');
  }


  .icon{
      font-family: 'iconfont';
  }
  .icon-calendar::before{
      content:'\e600'
  }
  .icon-pre-year::before{
      content:'\e714'
  }
  .icon-pre-day::before{
      content:'\e712'
  }
  .icon-next-day::before{
      content:'\e718'
  }
  .icon-next-year::before{
      content:'\e713'
  }